body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

textarea#input {
    width: 80%;
    height: 50px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

textarea#output {
    width: 80%;
    height: 300px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

button#submit,
button#copy{
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#submit:hover,
button#copy:hover{
    background-color: #0056b3;
}

button#submit:active,
button#copy:active{
    background-color: #00408f;
}

button#submit:focus,
button#copy:focus{
    outline: none;
}

/* 如果您想要在大屏幕上限制内容的宽度 */
.container {
    max-width: 800px;
    margin: auto;
}

/* 添加一些响应式设计 */
@media (max-width: 768px) {
    textarea {
        width: 90%;
    }
}
